<!DOCTYPE html>
<html>
<head>
    <title>My Profile</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="header">
    <img src="/static/logo.png">
    <div class="nav">
        <a href="/student">Dashboard</a>
        <a href="/logout">Logout</a>
    </div>
</div>

<div class="container">

    <div class="card">
        <h2>Student Profile</h2>
        <p><b>Name:</b> Demo Student</p>
        <p><b>Class:</b> 10-A</p>
        <p><b>Roll No:</b> 23</p>
    </div>

    <div class="card">
        <h3>Academic Summary</h3>
        <p>Performance Level: Improving 📈</p>
    </div>

    <div class="spacer"></div>
</div>

</body>
</html>
